.bs{
    box-sizing: border-box;
}
.cf{
    background: #673ab7;
}
.rc{
    background: #479788;
}
.d{
    background: #e72e63;
}
.fr{
    background: #c2265b;
}
h4{
    font-family: 'Roboto', sans-serif;
}
p , span {
    font-family: 'Roboto', sans-serif;
    font-weight: lighter !important;
}
.form-control{
    display: inline-block !important;
    position: relative;
}
.small-lb{
    position: absolute;
    top: -60%;
    font-size: 0.7rem;
}