
  <div class="relative text-center text-uppercase">
    <div class="col-left"> 
    <div class="mr-10">
    <a href="/">
    <img   src="https://moh.gov.vn/documents/20182/0/ch%E1%BB%89+m%E1%BB%A5c+%281%29.jpg/0d1a9e4b-29c0-4b29-aa8b-6001a78f52fd?t=1550469174025" width="80" alt="BoYte">
    </a>
    </div>
    <div class="heading-title">
    <div class="text-bold mb-5">Ban chỉ đạo quốc gia</div>
    <div class="text-bold">Phòng chống dịch bệnh Covid-19</div>
    <div class="text-bold">Hệ thống quản lý khai báo y tế</div>
    </div>
    </div>
  </div>


    <nav class="navbar navbar-expand-lg container-fluid" style="background-color: #2a3477;">
      <div class="container">
        <div class="collapse navbar-collapse navControll" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item ">
            <a class="nav-link text-white  LinkControll" routerLink="home">Home</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link text-white  LinkControll" routerLink="/report">Report</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link text-white  LinkControll" routerLink="/news">News</a>
          </li> -->
        </ul>

      </div>
      </div>
    </nav>
    <router-outlet></router-outlet>
router

<!--   <div class="container">
  
    <app-world-wide></app-world-wide>
    <app-regional></app-regional><hr>
    <div class="container">
      <div class="row mt-4">
        <div class="col pl-0">
          <app-map></app-map>
        </div>
        <div class="col pr-0">
          <app-charts></app-charts>
        </div>
      </div>
      <div class="row mt-4">
        <button type="submit" (click)="sendToReport()">Report form</button>
      </div>
      <div class="row mt-4 formReport">
        <router-outlet></router-outlet>
      </div>
    </div>
    
  </div> -->

  <div class="container-fluid" style="background-color: #2a3477;">
    <div class="container text-center text-white">
      <h3>TRANG TIN VỀ DỊCH BỆNH VIÊM ĐƯỜNG HÔ HẤP CẤP COVID-19</h3>
      <p>Phó Trưởng ban biên tập thường trực TS.BS. Hà Anh Đức, Chánh Văn phòng Bộ Y tế</p>
      <p>Số 138A Giảng Võ - Ba Đình - Hà Nội</p>
      <p>ĐT: 0246.273.2.273 |Fax:0243.8464.051</p>
      <p class="textBottom">Email: banbientap@moh.gov.vn</p>
    </div>
  </div>

  
