<div class="container mt-5">
  <h4 class="">World Wide</h4>
  <div class="row d-flex bs text-white">
    <div class="col m-1 cf p-2 rounded">
      <i class="fas fa-user-alt"></i><span>&ensp;Confirmed</span> 
      <p>{{ wouldWide?.confirmed }}</p>
    </div>
    <div class="col m-1 rc p-2 rounded">
      <i class="fas fa-plus-square"> </i><span>&ensp;Recovered</span> 
      <p>{{ wouldWide?.recovered }}</p>
    </div>
    <div class="col m-1 d p-2 rounded">
      <i class="fas fa-skull-crossbones"></i> <span>&ensp;Deaths</span>
      <p>{{ wouldWide?.deaths }}</p>
    </div>
    <div class="col m-1 fr p-2 rounded">
      <i class="fas fa-exclamation-circle"></i> <span>&ensp;Fatality rate</span>
      <p>{{ fatalityRate }} %</p>
    </div>
  </div>
</div>
